<?cs include:"templates/header.cst" ?>

Enter some search terms...

<form action="index.pl">
Title: <input name="title" />
Location: <input name="location" />
Keyword: <input name="description" />
<input type="hidden" name="webui_view" value="JobSearchResults" />
<input type="submit" value="Find" />
</form>

<?cs include:"templates/footer.cst" ?>
